<!DOCTYPE html>
<div class="container">
    <div>
    <h2>Ajouter une Plante :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID plante </label>
        <input type="text" [(ngModel)]="newPlante.idPlante"
        name="idPlante" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Plante</label>
        <input type="text"[(ngModel)]= "newPlante.nomPlante"
        name="nomPlante" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Couleur Plante</label>
            <input type="text"[(ngModel)]= "newPlante.couleurPlante"
            name="matricule" class="form-control">
            </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Plante </label>
        <input type="number" [(ngModel)]= "newPlante.prix"
        name="prix" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date de vente</label>
        <input type="date" [(ngModel)]= "newPlante.dateVente"
        name="dateVente" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addPlante()" class="btn btn-success">Ajouter</button>
    
        <div>
            <h3>{{ message }}</h3>
        </div>

    </div>
        </form>
        </div>
