<div class="container">
    <div class="card shadow mb-4">
     <div class="card-body">
         <table class="table table-striped">
              <tr> <th>Id</th><th>Nom</th> <th>Couleur</th> <th>Prix</th> <th>Date Création</th> </tr>
         <tbody *ngFor="let plante of plantes">
            <tr >
             <td>{{plante.idPlante}}</td>
            <td>{{plante.nomPlante}}</td>
             <td>{{plante.couleurPlante}}</td>
             <td>{{plante.prixPlante}}</td>
              <td>{{plante.dateVente | date:'dd/MM/yyyy'}}</td>
              <td><a class="btn btn-danger" (click)="supprimerPlante(plante)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updatePlante',plante.idPlante]">Modifier</a></td>
            </tr>
         </tbody>
        </table>
    </div>
     </div>
</div>